/* ----- LOG-SECTIONS ----- */

log-section {
  padding: 16px 24px;
  border-radius: 10px;
  margin: 20px auto;

  color: var(--front);
  background-color: color-mix(in srgb, var(--back) 95%, var(--front));
  border: solid 2px transparent;
  outline: solid 2.5px color-mix(in srgb, var(--back) 90%, var(--front));
  min-width: 60%;
  font-size: 1rem;
  
  z-index: 0;
  
  transition: all 0.2s;
}

log-section:hover {
  outline: none;

  color: var(--front);
  background:
    linear-gradient(135deg,
      color-mix(in srgb, var(--back) 95%, var(--backMax)),
      color-mix(in srgb, var(--back) 100%, var(--backMax))) padding-box,
    linear-gradient(135deg,
      color-mix(in srgb, var(--primary) 80%, transparent),
      color-mix(in srgb, var(--secondary) 80%, transparent)) border-box;

  background-origin: border-box;
  border-radius: 12px;

  box-shadow:
    0 0 4px var(--primary),
    0 0 6px color-mix(in srgb, var(--secondary), transparent 40%);
}


.login-container form {
  display: grid;
  grid-template-areas: 
    "a c c"
    "b d d";
  width: 100%;
}

form *:nth-child(1) {grid-area: a;}
form *:nth-child(2) {grid-area: b;}
form *:nth-child(3) {grid-area: c;}
form *:nth-child(4) {grid-area: d;}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  width: 95%;
  background: color-mix(in srgb, var(--back) 80%, var(--backMax));
  outline: solid 1px color-mix(in srgb, var(--back) 85%, var(--front));
  
  padding: 14px;
  border-radius: 10px;
}
.form-group + .form-group {
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-indent: 0.5rem;
}

input[type="email"],
input[type="ident"],
input[type="password"] {
  padding: 8px;
  border-radius: 5px;
  border: 1.5px solid var(--back);
  background-color: color-mix(in srgb, var(--back) 50%, var(--backMax));
  color: var(--front);
  font-size: 1rem;
  
  outline: solid 0px transparent;
  
  transition: all 0.2s;
}

input[type="email"]:focus,
input[type="ident"]:focus,
input[type="password"]:focus {
  background-color: color-mix(in srgb, var(--back) 20%, var(--backMax));
  border: 1.5px solid color-mix(in srgb, var(--back) 70%, var(--front));
  outline: solid 2px color-mix(in srgb, transparent 90%, var(--front));
}

button[type="submit"] {
  font-size: 1rem;
  height: max-content;
  margin-top: auto;
}


@media (min-width: 990px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 990px) {
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .form-group {
    width: 100%;
  }
}