body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #4b4747;
    background-size: cover;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .neon-text {
    color: #fff;
    text-shadow:
      0 0 2px rgb(1, 120, 255),
      0 0 4px rgb(1, 110, 255),
      0 0 6px rgb(1, 81, 255),
      0 0 8px rgb(69, 1, 255),
      0 0 10px rgb(77, 1, 255),
      0 0 12px rgb(175, 1, 255);
  }
  
  p {

  }