:root {
  --backMax: #000;
  --back: #4b4747;
  --frontMax: #fff;
  --front: #fff;
  
  --backTop: color-mix(in srgb, var(--back) 70%, var(--backMax));

  --primary: rgb(1, 120, 255);
  --secondary: rgb(175, 1, 255);
}

body {
  display: flex;
  flex-direction: column;
  
  font-family: Arial, sans-serif;
  color: var(--front);
  margin: 0;
  background-color: var(--back);
  background-size: cover;
  
  min-height: 100vh;
}

header {
  background-color: var(--backTop);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: var(--backTop);
  padding: 10px;
  text-align: center;
  clear: both;
  
  margin-top: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 2px color-mix(in srgb, var(--primary) 100%, var(--secondary)),
    0 0 4px color-mix(in srgb, var(--primary) 80%, var(--secondary)),
    0 0 6px color-mix(in srgb, var(--primary) 60%, var(--secondary)),
    0 0 8px color-mix(in srgb, var(--primary) 40%, var(--secondary)),
    0 0 10px color-mix(in srgb, var(--primary) 20%, var(--secondary)),
    0 0 12px color-mix(in srgb, var(--primary) 0%, var(--secondary));
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  
  color: var(--front);
  background-color: color-mix(in srgb, var(--back) 90%, var(--front));
  outline: solid 1.5px color-mix(in srgb, var(--back) 80%, var(--front));
  
  font-size: 0.9rem;
  
  cursor: pointer;
  transition: all 0.2s, scale 0.08s;
}
button:hover {
  background-color: color-mix(in srgb, var(--back) 85%, var(--front));
  outline-color: color-mix(in srgb, var(--back) 60%, var(--front));
  
  box-shadow: 
    0 0 4px var(--primary),
    0 0 6px color-mix(in srgb, var(--secondary), transparent 40%);
}
button:active {
  background-color: color-mix(in srgb, var(--back) 92%, var(--front));
  outline-color: color-mix(in srgb, var(--back) 50%, var(--front));
  
  scale: 0.98;
}
.neon-button {  
  position: relative;
  
  padding: 12px 16px;
  outline: none;
  
  color: var(--front);
  background: linear-gradient(
    135deg, 
    color-mix(in srgb, var(--primary) 80%, var(--front)), 
    color-mix(in srgb, var(--secondary) 80%, var(--front))
  ) text;
}
.neon-button::before {
  content: "";
  
  position: absolute;
  inset: 0;
  z-index: -1;
  
  padding: 12px 16px;
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 80%, var(--backMax)),
      color-mix(in srgb, var(--back) 80%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;

  border: solid 2px transparent;
  background-origin: border-box;
  border-radius: 10px;
  
  box-shadow: 
    -1px -1px 6px -2px color-mix(in srgb, var(--primary) 100%, var(--secondary)),
    1px 1px 6px -2px color-mix(in srgb, var(--primary) 0%, var(--secondary));
  
  transition: all 0.1s;
}
.neon-button:hover {
  color: transparent;
}
.neon-button:hover::before {
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 65%, var(--backMax)),
      color-mix(in srgb, var(--back) 65%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;
  
  box-shadow: 
    -1px -1px 6px -2px color-mix(in srgb, var(--primary) 100%, var(--secondary)),
    1px 1px 6px -2px color-mix(in srgb, var(--primary) 0%, var(--secondary)),
    0 0 4px -4px var(--backMax) inset;
}
.neon-button:active {
  scale: initial;
}
.neon-button:active::before {
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 60%, var(--backMax)),
      color-mix(in srgb, var(--back) 60%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;
  
  box-shadow: 
    -1px -1px 6px -2px color-mix(in srgb, var(--primary) 100%, var(--secondary)),
    1px 1px 6px -2px color-mix(in srgb, var(--primary) 0%, var(--secondary)),
    0 0 4px -1.5px var(--backMax) inset;
}

section {
  padding: 16px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 5px;

  color: var(--front);
  background-color: color-mix(in srgb, var(--back) 95%, var(--front));
  outline: solid 2.5px color-mix(in srgb, var(--back) 90%, var(--front));

  font-size: 0.9rem;

  cursor: auto;
  transition: all 0.2s, scale 0.08s;
}
section:hover {
  position: relative;
  
  padding: 18px;
  outline: none;
  
  color: var(--front);
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 70%, var(--backMax)),
      color-mix(in srgb, var(--back) 65%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;

  border: solid 2px transparent;
  background-origin: border-box;
  border-radius: 5px;
  
  box-shadow: 
    0 0 4px var(--primary),
    0 0 6px color-mix(in srgb, var(--secondary), transparent 40%);
}

menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

menu li {
  position: relative;
}

menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--front);
}

menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 70%, var(--backMax)),
      color-mix(in srgb, var(--back) 65%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;

  border: solid 2px transparent;
  background-origin: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

menu li:hover ul {
  display: block;
  margin: 0;
  padding: 0;
  color: transparent;
  
  padding: 10px;
  border-radius: 10px;
  border: none;
  
  color: var(--front);
  background-color: color-mix(in srgb, var(--back) 90%, var(--front));
  outline: solid 1.5px color-mix(in srgb, var(--back) 80%, var(--front));
  
  font-size: 0.9rem;
  
  cursor: pointer;
  transition: all 0.2s, scale 0.08s;
}

menu li ul li {
  margin-bottom: 5px;
}

menu li ul li a {
  color: var(--front);
}

menu li ul li a:hover {
  outline: none;
  
  color: var(--front);
  background: 
    linear-gradient(to right,
      color-mix(in srgb, var(--back) 70%, var(--backMax)),
      color-mix(in srgb, var(--back) 65%, var(--backMax))
    ) padding-box,
    linear-gradient(135deg, var(--primary), var(--secondary)) border-box;

  border: solid 2px transparent;
  background-origin: border-box;
  border-radius: 5px;
  
  box-shadow: 
    0 0 4px var(--primary),
    0 0 6px color-mix(in srgb, var(--secondary), transparent 40%);
}